# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo

# Visual Studio / LVGL sim específico
.vs/
lvgl_sim/Output/
*.user
*.filters
*.suo

# LVGL: carpeta de tests interna, no se necesita para compilar el proyecto
lvgl_sim/LvglPlatform/lvgl/tests/
data/*.db
build/
__pycache__/
data/captures/
